@model IEnumerable<Travel>

<div class="row pb-3">
    @foreach(var travel in Model)
    {
        <div class="col-lg-3 col-md-6">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px;">
                            <div class="card">
                        <img src="@travel.ImageUrl" class="card-img-top rounded" />
                        <div class="pl-1">
                            <p class="card-title h5 text-primary">@travel.Name</p>
                            <p class="card-title text-secondary">@travel.Country</p>
                            <p class="card-title text-secondary">@travel.City</p>
                                </div>
                                <div class="pl-1">
                            <p>Price: @travel.Price $</p>
                                </div>
                            </div>
                    <a asp-action="Details" class="btn btn-primary form-control" asp-route-travelId="@travel.Id">Details</a>
                     </div>
                </div>
        </div>
    }
</div>
